<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-3 mb-5" *ngFor="let item of events">
  <div class="containers">
    <div class="wrapper">
      <div class="banner-image" setBackgroundImage [imageUrl]="item.picture"> </div>
      <h1> Toyota Supra</h1>
      <p>Lorem ipsum dolor sit amet, <br/>
        consectetur adipiscing elit.</p>
     </div>
     <div class="button-wrapper">
     <button class="btn outline">DETAILS</button>
       <button class="btn fill" (click)="getTicketList(item)">View Tickets</button>
     </div>
       </div>
       </div>
   </div>
   </div>
<app-footer></app-footer>
